* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
background-color: black;
}

header {
   width: 100%;
    height: 100vh;

    /* Purple gradient to match the image */
    background-image: linear-gradient(rgba(47, 24, 147, 1), rgba(102, 51, 153,0.2 )),
                      url('Image (2).png');
    background-size: cover;
    background-position: center;

}

.h-txt {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;        /* Moved up slightly to match image */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.h-txt .brand {
    font-family: DM Sans;
font-weight: 700;
font-size: 14px;
line-height: 26px;
letter-spacing: 2px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;

}

.h-txt h2 {
    font-family: DM Sans;
font-weight: 700;
font-size: 58px;
line-height: 70px;
letter-spacing: -1px;
text-align: center;
margin-bottom: 20px;


}

.h-txt p {
    font-family: DM Sans;
font-weight: 500;
font-size: 18px;

line-height: 28px;
letter-spacing: 0px;
text-align: center;


}
//* Responsive adjustments corrected */
@media (max-width: 1024px) {
    .h-txt h2 {
        font-size: 4vw; /* smooth scaling */
    }
    .h-txt .brand {
        font-size: 2.2vw;
    }
    .h-txt p {
        font-size: 1em;
        max-width: 500px;
    }
    .h-txt a {
        padding: 14px 35px;
        font-size: 1em;
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    .h-txt h2 {
        font-size: 6vw;
    }
    .h-txt .brand {
        font-size: 4vw;
    }
    .h-txt p {
        font-size: 0.95em;
        max-width: 350px;
    }
    .h-txt a {
        padding: 12px 28px;
        font-size: 0.95em;
        margin-top: 60px;
    }
}

@media (max-width: 480px) {
    .h-txt h2 {
        font-size: 8vw;
    }
    .h-txt .brand {
        font-size: 5vw;
    }
    .h-txt p {
        font-size: 0.9em;
        max-width: 280px;
    }
    .h-txt a {
        padding: 10px 22px;
        font-size: 0.85em;
        margin-top: 50px;
    }
}
